
h1, h2 {
color: black;
display: inline-block;
font-family: "Permanent Marker, cursive";
padding: 0.6em 1em;
}

h2 {
  border: 2px solid black;
  box-shadow: -15px 7px 1px #000;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.board-view {
  display: flex;
  justify-content: space-between;
  padding: 50px;
}


.card-view {
  display: flex;
  justify-content: space-between;
  padding: 50px;
}